:root {
  --mainColor: #6cce4e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  background-color: var(--mainColor);
  height: 120px;
  width: 1730px;
  box-shadow: 1px 1px 1px #9c9c9c;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  /* position: fixed;
  z-index: 7; */
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoClass {
  height: 100px;
}
.nazwa {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
main {
  width: 100%;
  height: auto;
  background-image: url(zdj/lake.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 200px;
}
.conteiner_1 {
  height: 300px;
  width: 100%;
}
.onas {
  height: 150px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 5;
  top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.conteiner_2 {
  height: 1700px;
  width: 1200px;
  background-color: var(--mainColor);
  margin: auto;
  box-shadow: 3px 3px 3px #00000067;
  border-radius: 60px;
  padding: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
.conteiner_2 p {
  margin-bottom: 50px;
}
.photos {
  width: 100%;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.photos img {
  opacity: 1;
  max-height: 300px;
  justify-self: center;
  border: 1px solid black;
  width: 100%;
}
footer {
  height: 100px;
  width: 100%;
}
