:root {
  --mainColor: #6cce4e;
  --BGC: #eefce3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
main {
  background-color: var(--BGC);
  width: auto;
  height: auto;
  padding: 150px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_1 {
  width: 1400px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.container_1 > * {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.container_1 img {
  max-height: 500px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
}
.col-1 > *,
.col-2 > *,
.col-3 > * {
  padding: 30px;
  font-size: 19px;
}

.col-2 h1,
.col-3 h1 {
  padding: 20px;
}
