:root {
  --mainColor: #6cce4e;
  --BGC: #eefce3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
main {
  background-image: url(zdj/img1.jpg);
  background-size: cover;
}
.container_1 {
  height: auto;
  width: 80%;
  margin: 0px 10%;
  padding: 150px 0px;
}
.cennik {
  height: 700px;
  width: 100%;
}
.tableHeader {
  background-color: var(--mainColor);
}
table,
td {
  border: 1px solid rgba(0, 0, 0, 0.26);
  background-color: var(--BGC);
  text-align: center;
  transition: 0.2s linear;
  font-size: 22px;
}
th {
  border: 1px solid rgba(0, 0, 0, 0.26);
  text-align: center;
  transition: 0.5s linear;
  background-image: linear-gradient(180deg, var(--mainColor), var(--second));
}
table {
  height: 90%;
  width: 90%;
  margin: 5% 5% 5% 5%;
  border-collapse: collapse;
}
footer {
  height: 100px;
  width: 100%;
  background-color: rgb(1, 20, 2);
}
