:root {
  --mainColor: #6cce4e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  background-color: var(--mainColor);
  height: 120px;
  width: 1730px;
  box-shadow: 1px 1px 1px #9c9c9c;
  display: flex;
  justify-content: space-around;
  z-index: 6;
  /* margin-bottom: 10px; */
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoClass {
  height: 100px;
}
.nazwa {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
/* main {
   background-image: url(zdj/img1.jpg);
  background-size: cover; 
} */
.container_1 {
  height: auto;
  width: 80%;
  margin: 0px 10%;
  padding: 150px 0px;
}
.cennik {
  height: 700px;
  width: 100%;
}
.tableHeader {
  background-color: var(--mainColor);
}
table,
td {
  /* border: 5px solid transparent; */
  background-color: #cfcfcf70;
  text-align: center;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.438); */
  transition: 0.2s linear;
}
th {
  /* border: 5px solid white; */
  /* background-color: #505050d5; */
  text-align: center;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438); */
  transition: 0.2s linear;
}
/* tr:hover,
th:hover {
  background-color: #6cce4e;
} */
table {
  height: 90%;
  width: 90%;
  margin: 5% 5% 5% 5%;
  border-collapse: collapse;
}
footer {
  height: 100px;
  width: 100%;
  background-color: rgb(1, 20, 2);
}
