:root {
  --mainColor: #6cce4e;
  --BGC: #eefce3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
main {
  background-color: var(--BGC);
  height: auto;
  padding-bottom: 100px;
}
.title {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.title h1 {
  font-weight: 400;
}
.images li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.images img {
  width: 100%;
  border-radius: 4px;
}
.images .card {
  margin-bottom: 10px;
  position: relative;
  transition: 0.2s linear;
  overflow: hidden;
}
.gallery .images {
  columns: 3;
  gap: 10px;
  width: 90%;
}
.gallery {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images .card .details {
  position: absolute;
  bottom: -50px;
  left: 0;
  font-size: 15px;
  font-weight: 500;
  color: rgb(226, 226, 226);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  width: 100%;
  padding: 20px 10px;
  border-radius: 4px;
  transition: 0.2s linear;
}

.card:hover {
  scale: 0.95;
  transform: rotate(-2deg);
}

@media only screen and (max-width: 700px) {
  .gallery .images {
    columns: 2;
  }
}
@media only screen and (max-width: 500px) {
  .gallery .images {
    columns: 1;
  }
}
.bottom {
  bottom: 0;
}
