:root {
  --mainColor: #6cce4e;
  --BGC: #eefce3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
main {
  background-color: var(--BGC);
  height: auto;
  padding-bottom: 100px;
}
.title {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.title h1 {
  font-weight: 400;
}
.container_1 {
  height: auto;
  width: 70%;
  margin: 100px 15% 100px;
  display: flex;
}

.container_3,
.container_2 {
  float: left;
  height: auto;
  width: 32%;
  display: grid;
  gap: 10px;
  margin-right: 10px;
}
.container_4 {
  height: auto;
  width: 32%;
  display: grid;
  gap: 10px;
}

.container_2 img,
.container_3 img,
.container_4 img {
  max-width: 100%;
  height: auto;
  transition: 0.2s linear;
}

img:hover {
  scale: 0.95;
  transform: rotate(-2deg);
}
@media only screen and (max-width: 1200px) {
  .container_1 {
    width: 90%;
    margin: auto;
  }
}
@media only screen and (max-width: 700px) {
  .container_1 {
    float: none;
    flex-wrap: wrap;
  }
  .container_2 {
    width: 48%;
  }
  .container_3 {
    width: 48%;
  }
  .container_4 {
    width: 48%;
  }
}
