:root {
  --mainColor: #6cce4e;
  --BGC: #eefce3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
main {
  background-image: linear-gradient(45deg, var(--BGC) 50%, var(--second));
  width: auto;
  height: auto;
}

.baner {
  height: 400px;
  width: 100%;
  background-color: #9c9c9c;
  font-size: 110px;
  position: absolute;
  left: 2000px;
  animation: Slide 10s linear infinite;
}

.box {
  height: 1100px;
  width: 1300px;
  display: flex;
  margin: auto;
}
.info {
  height: 550px;
  width: 600px;
  margin-top: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.info p {
  font-size: 23px;
  line-height: 30px;
  font-weight: 500;
}

footer {
  height: 100px;
  width: 100%;
  background-color: rgba(1, 20, 2, 0.644);
}
@keyframes Slide {
  0% {
    left: 2000px;
  }
  100% {
    left: -2000px;
  }
}
