:root {
  --mainColor: #6cce4e;
  --BGC: #eefce3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
main {
  padding-top: 120px;
  background-image: linear-gradient(45deg, var(--BGC) 50%, var(--second));
  width: auto;
  height: auto;
}

.baner,
.baner2,
.baner3 {
  height: 400px;
  width: 100%;
  font-size: 110px;
  position: absolute;
  left: 2000px;
  animation: Slide 70s linear infinite;
  display: flex;
}
.baner2 {
  animation: Slide2 70s linear infinite;
  animation-delay: 35s;
}
.baner3 {
  left: 0px;
  animation: Slide3 70s linear;
}
.baner img,
.baner2 img,
.baner3 img {
  max-height: 400px;
}
.box {
  height: 1100px;
  width: 1300px;
  display: flex;
  margin: auto;
}
.info {
  height: 550px;
  width: 600px;
  margin-top: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.info p {
  font-size: 23px;
  line-height: 30px;
  font-weight: 500;
}

@keyframes Slide {
  0% {
    left: 2000px;
  }

  100% {
    left: -2000px;
  }
}
@keyframes Slide2 {
  0% {
    left: 2000px;
  }
  100% {
    left: -2000px;
  }
}
@keyframes Slide3 {
  0% {
    left: 0px;
  }
  100% {
    left: -4000px;
  }
}
