:root {
  --mainColor: #6cce4e;
  --BGC: #eefce3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
body {
  /* width: 100vw; */
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
main {
  background-image: linear-gradient(45deg, var(--BGC) 20%, var(--second));

  height: auto;
}
.top {
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.opis {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery img {
  max-height: 555px;
  border-radius: 7px;
}
.slides {
  height: auto;
  width: auto;
  background-color: var(--BGC);
  border: var(--BGC) solid 10px;
  border-radius: 7px;
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.438);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s linear;
}

.slides h3 {
  padding: 20px 0px;
  font-size: 21px;
  font-weight: 500;
  color: black;
}

/* .box {
  height: 600px;
  width: 1300px;
  display: flex;
  margin: auto;
} */
.info {
  height: 640px;
  width: 600px;
  background-color: var(--BGC);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: var(--BGC) solid 10px;
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.438);
  border-radius: 7px;
  padding: 30px;
}
.info p {
  font-size: 23px;
  line-height: 30px;
  font-weight: 500;
  padding: 10px;
}
.map {
  background-color: rgb(1, 20, 2);
}
@media only screen and (max-width: 1700px) {
  .galeria {
    width: 60%;
  }
  .opis {
    width: 40%;
  }
}
@media only screen and (max-width: 1600px) {
  .galeria {
    width: 20%;
  }
  .opis {
    width: 80%;
  }
  .gallery img {
    max-height: 300px;
  }
}
@media only screen and (max-width: 1200px) {
  .top {
    height: 600px;
  }
  .info {
    height: 400px;
    width: 400px;
    font-size: 10px;
  }
  .info p {
    font-size: 15px;
  }
  .galeria {
    width: 50%;
  }
  .opis {
    width: 50%;
  }
}
@media only screen and (max-width: 940px) {
  .top {
    flex-direction: column;
    height: 800px;
  }
  .opis {
    width: 100%;
  }
  .info {
    flex-wrap: wrap;
    height: 80%;
    width: 80%;
  }
}
@media only screen and (max-width: 740px) {
  .top {
    height: 1000px;
  }
  .info {
    height: 90%;
  }
  .gallery img {
    max-height: 200px;
  }
}
@media only screen and (max-width: 360px) {
  .top {
    height: 1000px;
  }
  .opis {
    height: 60%;
  }
  .info {
    height: 90%;
    padding: 5px;
  }
  .gallery {
    height: 40%;
  }
  .gallery img {
    max-height: 150px;
  }
}
