@import url(https://fonts.googleapis.com/css?family=Varela+Round);
:root {
  --mainColor: #6cce4e;
  --second: #9aff7b;
  --BGC: #eefce3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
body {
  width: 100%;

  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
main {
  width: 100%;
  height: auto;
  background-image: url(zdj/lake.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 200px;
}
.conteiner_1 {
  height: 700px;
  width: 100%;

  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.623) 70%,
    transparent
  );
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  position: relative;
}
#con_1 {
  margin-top: 50px;
  width: 1400px;
  height: 900px;
  display: block;
  position: relative;
  list-style-type: none;
}
#con_1 * {
  user-select: none;
}
#con_1 input {
  display: none;
}
#img-inner {
  top: 0;
  left: 0;
  opacity: 0;
  width: 1400px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: scale(0);
  transition: all 0.7s ease-in-out;
  border-radius: 17px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);
}

#img-inner img {
  height: 100%;
  width: 100%;
  border-radius: 17px;
}
#img-inner:nth-of-type(1) {
  background-image: url("zdj/image1.jpg"), url("zdj/image2.jpg"),
    url("zdj/image3.jpg");
}
#img-inner:hover ~ label.sb-bignav {
  opacity: 0.5;
}

label.sb-bignav:hover {
  opacity: 1;
}

.sb-bignav {
  width: 200px;
  height: 100%;
  display: none;
  position: absolute;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  transition: opacity 0.2s;
  color: white;
  font-size: 156pt;
  text-align: center;
  line-height: 800px;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
  border-radius: 17px;
}

label[title="Next"] {
  right: 0;
}

input:checked + li > #img-inner {
  opacity: 1;

  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);

  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

input:checked + li > label {
  display: block;
}

.onas {
  height: 150px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 5;
  top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.conteiner_2 {
  height: 1700px;
  width: 1200px;
  background-color: var(--mainColor);
  background-image: linear-gradient(45deg, var(--mainColor), var(--second));
  margin: auto;
  box-shadow: 3px 3px 3px #00000067;
  border-radius: 60px;
  padding: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  position: relative;
  z-index: 10;
}
.firstText {
  margin-bottom: 50px;
}
.firstText::first-letter {
  font-size: 25px;
  font-weight: 700;
}
.icons {
  margin-top: 100px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.opisListy {
  margin-top: 50px;
  font-weight: 300;
}
.wwhList {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  list-style: none;
  font-weight: 300;
}
.wwhList li {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.315);
  border-radius: 15px;
  background-color: #72da52;
  transition: 0.2s linear;
}
.wwhList li:hover {
  background-color: #77e955;
}
.conteiner_3 {
  margin-top: 100px;
  height: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.rezerwacja {
  border-radius: 30px;
  background-color: aliceblue;
  height: 600px;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.315);
}
.rezerwacja p {
  margin-top: 15px;
  font-size: 15px;
}
.rezerwacja button {
  border: none;
  border-radius: 15px;
  padding: 10px 30px;
  height: 50px;
  width: 200px;
  background-color: #72da52;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.315);
  transition: 0.2s linear;
}
.rezerwacja button:hover {
  cursor: pointer;
  background-color: #eefce3;
}
.mapa {
  border-radius: 30px;
  height: 600px;
  width: 100%;
  overflow: hidden;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.315);
}
.ending {
  font-weight: 300;
  margin-top: 100px;
}

@media only screen and (max-width: 1200px) {
  .conteiner_2 {
    width: 700px;
  }
  .conteiner_1 {
    height: 100px;
  }
  .wwhList {
    grid-template-columns: 1fr 1fr;
  }
  .lastbby {
    grid-column: 1 / span 2;
    grid-row: 5;
    gap: 10px;
  }
  .conteiner_3 {
    grid-template-columns: 1fr;
  }
  .rezerwacja {
    height: 100%;
    grid-column: 1 / 3;
  }
  .mapa {
    display: none;
  }
  .ending {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .conteiner_2 {
    width: auto;
    padding: 0px;
    height: auto;
  }
  .icons {
    height: auto;
    width: auto;
    overflow: hidden;
    margin-top: 20px;
  }
  .opisListy {
    font-size: 19px;
  }
  .firstText {
    font-size: 12px;
    margin: 0;
    padding: 50px 50px 0px 50px;
  }
  .wwhList {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr;
  }
  .lastbby {
    grid-column: 1 / 2;
    grid-row: 5;
    gap: 10px;
  }
  .wwhList li {
    display: grid;
  }
}
