:root {
  --mainColor: #6cce4e;
  --second: #9aff7b;
  --BGC: #eefce3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
main {
  width: 100%;
  height: auto;
  background-image: url(zdj/lake.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 200px;
}
.conteiner_1 {
  height: 200px;
  width: 100%;
}
.onas {
  height: 150px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 5;
  top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.conteiner_2 {
  height: 1700px;
  width: 1200px;
  background-color: var(--mainColor);
  background-image: linear-gradient(45deg, var(--mainColor), var(--second));
  margin: auto;
  box-shadow: 3px 3px 3px #00000067;
  border-radius: 60px;
  padding: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
.firstText {
  margin-bottom: 50px;
}
.firstText::first-letter {
  font-size: 25px;
  font-weight: 700;
}
.icons {
  margin-top: 100px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.opisListy {
  margin-top: 50px;
  font-weight: 300;
}
.wwhList {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  list-style: none;
  font-weight: 300;
}
.wwhList li {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.315);
  border-radius: 15px;
  background-color: #72da52;
  transition: 0.2s linear;
}
.wwhList li:hover {
  background-color: #77e955;
}
.conteiner_3 {
  margin-top: 100px;
  height: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.rezerwacja {
  border-radius: 30px;
  background-color: aliceblue;
  height: 600px;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.315);
}
.rezerwacja p {
  margin-top: 15px;
  font-size: 15px;
}
.rezerwacja button {
  border: none;
  border-radius: 15px;
  padding: 10px 30px;
  height: 50px;
  width: 200px;
  background-color: #72da52;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.315);
  transition: 0.2s linear;
}
.rezerwacja button:hover {
  cursor: pointer;
  background-color: #eefce3;
}
.mapa {
  border-radius: 30px;
  height: 600px;
  width: 100%;
  overflow: hidden;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.315);
}
.ending {
  font-weight: 300;
  margin-top: 100px;
}

