:root {
  --mainColor: #6cce4e;
  --BGC: #eefce3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}

main {
  width: 100%;
  height: 1400px;
  position: relative;
  background-image: url(zdj/img1.jpg);
  background-size: cover;
}
.conteiner_1 {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conteiner_1 h1 {
  font-weight: 500;
  font-size: 45px;
}
.paper {
  /* background-color: white; */
  background-color: var(--BGC);

  width: 1100px;
  height: 900px;
  margin: 70px auto;
  box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.315);
  position: relative;
}
.conteiner_2 {
  height: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.text {
  position: absolute;
  width: 50%;
  font-size: 20px;
  height: 65%;
  margin-top: -400px;
}
.text2 {
  position: absolute;
  width: 50%;
  font-size: 20px;
  height: 40%;
  margin-top: -100px;
}
.text3 {
  position: absolute;
  width: 50%;
  font-size: 20px;
  height: 20%;
  margin-top: 200px;
}
button {
  margin-top: 450px;
  height: 50px;
  width: 500px;
  border: none;
  background-color: var(--mainColor);
  font-size: 23px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.315);
  cursor: pointer;
  z-index: 6;
}
.block {
  height: 50px;
  width: 500px;
  background-color: var(--mainColor);
  position: absolute;
}
.block1 {
  height: 500px;
  width: 50px;
  background-color: var(--mainColor);
  position: absolute;
}
.bl-1 {
  top: -20px;
  left: 600px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.315);
}
.bl-2 {
  top: -20px;
  left: 1070px;
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.315);
}
.bl-3 {
  top: 880px;
  left: 0px;
  box-shadow: 1px -3px 5px rgba(0, 0, 0, 0.315);
}
.bl-4 {
  top: 430px;
  left: -20px;
  box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.315);
}
